
$distance-to-edge: 50px;

.background {
  width: 90vw;
  height: 90vh;

  .popup-trigger {
    width: 40px;
    height: 40px;
    background-color: blue;
    cursor: pointer;
  }

  .top-left {
    left: $distance-to-edge;
    top: $distance-to-edge;
  }

  .top-left {
    position: absolute;
    right: $distance-to-edge;
    top: $distance-to-edge;
  }
}
