$distance-to-edge-corners: 50px;
$distance-to-edge-middle: 25%;

.popup-trigger {
  width: 40px;
  height: 40px;
  background-color: blue;
  cursor: pointer;
  position: absolute;
}

// corners
.top-left {
  left: $distance-to-edge-corners;
  top: $distance-to-edge-corners;
}

.top-right {
  right: $distance-to-edge-corners;
  top: $distance-to-edge-corners;
}

.bottom-left {
  left: $distance-to-edge-corners;
  bottom: $distance-to-edge-corners;
}

.bottom-right {
  right: $distance-to-edge-corners;
  bottom: $distance-to-edge-corners;
}

// center
.center-top-left {
  left: $distance-to-edge-middle;
  top: $distance-to-edge-middle;
}

.center-top-right {
  right: $distance-to-edge-middle;
  top: $distance-to-edge-middle;
}

.center-bottom-left {
  left: $distance-to-edge-middle;
  bottom: $distance-to-edge-middle;
}

.center-bottom-right {
  right: $distance-to-edge-middle;
  bottom: $distance-to-edge-middle;
}
